*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

input {
    background: transparent;
    border: none;
}

button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    display: block;
    object-fit: contain;
}

input,
button,
select,
textarea {
    font-family: "Montserrat", sans-serif;
}

.m-auto {
    margin: 0 auto;
}

html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    height: 100%;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    transition: color 0.5s, background-color 0.5s;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::selection {
    background-color: #FDFE00;
    color: #000000;
}