@import "./base.css";
@import "./fonts.css";

:root {
    --color-interior: #0125AD;
    --color-landscape: #0CAD39;
    --color-furniture: #AD7701;
    --color-decor: #C70FE9;
    --color-new: #01B4AE;
    --color-sales: #E70130;
}  

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.header.scrolled {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
}

.logo {
    position: absolute;
    top: calc(100% - 8px);
    left: 24px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.logo.hidden {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}

.nav {
    width: 100%;
}

.nav ul {
    display: flex;
    justify-content: space-between;
}

.nav ul li {
    width: 100%;
    height: 100%;
}

.nav ul li a {
    background-color: #585858;
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    color: #FFFFFF;
}

.nav ul li:first-child a {
    background-color: #E8880F;
}

.nav ul li:nth-child(2) a {
    background-color: var(--color-interior);
}

.nav ul li:nth-child(3) a {
    background-color: var(--color-landscape);
}

.nav ul li:nth-child(4) a {
    background-color: var(--color-furniture);
}

.nav ul li:nth-child(5) a {
    background-color: var(--color-decor);
}

.nav ul li:nth-child(6) a {
    background-color: var(--color-new);
}

.nav ul li:nth-child(7) a {
    background-color: var(--color-sales);
}

.menu {
    background-color: #000000;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.menu-left, .menu-right {
    display: flex;
}

.menu-left {
    align-items: center;
    gap: 40px;
}

.lang {
    display: flex;
    gap: 8px;
}

.lang li {
    font-size: 12px;
    color: #ABABAB;
    text-decoration: underline;
    cursor: pointer;
}

.lang li.active {
    color: #585858;
    text-decoration: none;
}

.menu-list {
    display: flex;
}

.menu-list li {
    width: 100%;
    height: 100%;
    margin-right: 16px;
}

.menu-list li a {
    font-size: 13px;
    font-weight: 600;
    color: #FFFFFF;
}

.menu-list li a.active {
    color: #585858;
}

.menu-right {
    align-items: center;
    gap: 16px;
}

.login {
    cursor: pointer;
}

.registration {
    background-color: #585858;
    padding: 8px;
    cursor: pointer;
}

.login span, .registration span {
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.socials {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.socials a {
    width: 24px;
    height: 24px;
}

.socials svg {
    width: 100%;
    height: 100%;
    fill: #FFFFFF;
}

.hero {
    height: 100%;
    margin-bottom: 80px;
    display: flex;
    gap: 16px;
}

.swiper.hero-slider {
    max-width: 75%;
    width: 100%;
    margin: 0;
}


.hero-slider-item {
    width: 100%;
    height: 100%;
}
  
.hero-slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.archi-instagram {
    min-width: 190px;
    max-width: 240px;
    padding: 8px 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #616161;
}

.archi-instagram-avatar {
    height: 168px;
}

.archi-instagram-qr {
    width: 94px;
}

.archi-instagram-phone {
    display: flex;
    align-items: center;
}

.archi-instagram-phone span {
    margin-left: 4px;
    display: block;
    font-size: 14px;
    font-weight: 600;
}

.hero-banner {
    flex: 0 0 25%;
}

.hero-banner img {
    height: 100%;
    object-fit: cover;
}

section {
    margin-bottom: 56px;
    padding: 0 16px;
}

.anchor {
    display: block;
    height: 84px;
    margin-top: -84px;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}
  
.section-title {
    background-color: #585858;
    width: fit-content;
    padding: 8px;
}

.section-title h2 {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
}

.interior-section .section-title {
    background-color: var(--color-interior);
}

.swiper.section-slider {
    margin-top: 12px;
    /* padding-bottom: 72px; */
}

.section-slider-item {
    background-color: #D9D9D9;
    height: 100%;
    margin-bottom: 72px;
    display: block;
    position: relative;
    transition: .3s ease box-shadow;
}

.section-slider-item img {
    height: 480px;
    object-fit: cover;
    position: relative;
    z-index: 3;
}

.section-slider-item-text {
    background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
    width: 100%;
    padding: 8px 16px;
    position: absolute;
    transform: translateY(-100%);
    visibility: hidden;
    transition: .3s ease-in-out all;
    z-index: 2;
}

.section-slider-item-text div {
    margin-bottom: 8px;
    display: block;
    font-size: 22px;
}

.section-slider-item-text ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

.section-slider-item-text ul li svg path {
    fill: #000000;
}

.section-slider .swiper-button-prev, 
.section-slider .swiper-button-next {
    width: 32px;
    height: 32px;
    color: #FFFFFF;
    transition: .3s ease transform;
}

.furniture-section .section-title {
    background-color: var(--color-furniture);
}

.about-section {
    display: flex;
    gap: 24px;
}

.about-section-item {
    max-width: 50%;
    width: 100%;
    overflow: hidden;
}

.about-section-item h6 {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.about-section-banner {
    background-color: #D9D9D9;
    height: 80px;

    margin-bottom: 40px;
}

.partners-block .placeholder {
    height: 160px;
}

.blog-block {
    background-color: #D9D9D9;
    height: 100%;
    padding: 24px 16px;
}

.contact-section {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 24px;
}

.contact-section-block {
    background-color: #D9D9D9;
    width: 100%;
    padding: 24px 16px;
}

.contact-section-block--text p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 28px;
}

.contact-section-block--phone {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section-block--phone svg {
    width: 56px;
    height: 56px;
}

.contact-section-block--phone span {
    margin-left: 8px;
    font-size: 32px;
    font-weight: 600;
}

/* delete */
.placeholder {
    background-color: #D9D9D9;
    height: 100%;
}
/*  */




.footer {
    background-color: #000000;
    width: 100%;
    margin-top: auto;
    padding: 16px;
    font-size: 12px;
    color: #FFFFFF;
}

@media (hover: hover) {
    .section-slider-item:hover {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    }
    
    .section-slider-item:hover .section-slider-item-text {
        transform: translateY(0);
        visibility: visible;
    }

    .section-slider .swiper-button-prev:hover, 
    .section-slider .swiper-button-next:hover {
        transform: scale(1.2);
    }
}